<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NedbankAPI" value="https://api.nedbank.co.za/apimarket/sandbox/" />
    <add key="client_id" value="f4a0ac7f-c8c7-4910-b3af-cf0f5242f7ba" />
    <add key="client_secret" value="oQ3cK8oM0sK6dU5nD4lU5bA5fY3tM0aW2eD1yT2yY1iW7rK1yJ" />
  </appSettings>
</configuration>
