################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/EasyMoolah-Borrower
Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v15/Server/sqlite3/storage.ide
Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v15/Server/sqlite3/storage.ide-shm
Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v15/Server/sqlite3/storage.ide-wal
Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v15/.suo
Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v15/Server/sqlite3/storage.ide-shm
/Development/EasyMoolah-Service/.vs/EasyMoolah-Service/v16
