<div class="divider"></div>
<div class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <div class="progress page-progress">
        <div class="determinate" style="width: 87.5%"></div>
      </div>
      <div class="input-field">
        <p>What's your home address?</p>
        <div class="input-field">
          <input id="address-line01" type="text" class="validate">
          <label for="address-line01">Address Line 01</label>
        </div>
        <div class="input-field">
          <input id="address-line02" type="text" class="validate">
          <label for="address-line02">Address Line 02</label>
        </div>
        <div class="input-field">
          <input id="suburb" type="email" class="validate">
          <label for="suburb">Suburb</label>
        </div>
        <div class="input-field">
          <input id="postalcode" type="text" class="validate">
          <label for="postalcode">Postal Code</label>
        </div>
      </div>
    </div>
  </div>
  <!--row-->
</div>
<footer class="container">
    <div class="row pagination-btns">
        <div class="col m6 offset-m3">
            <div class="col m4">
                <a class="waves-effect waves-light btn-small" (click)="back()"><i class="material-icons left">chevron_left</i>Prev</a>
              </div>
            <div class="col m4">
              </div>
            <div class="col m4">
                <a class="waves-effect waves-light btn-small" (click)="next()"><i class="material-icons right">chevron_right</i>Next</a>
              </div>
          </div>
      </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>