3<div class="divider"></div>
<div class="container">
	<div class="row">
		<div class="col m6 offset-m3">
		  <div class="progress page-progress">
			  <div class="determinate" style="width: 18.75%"></div>
		  </div>
			<div class="input-field">
				<p>How much do you want to borrow?</p>
				<p class="range-field">
          <!-- <mat-slider min="1" max="5" step="0.5" value="1.5" color="warn"></mat-slider> -->
				</p>
			</div>
		</div>
	</div>
</div>
<footer class="container">
	<div class="row pagination-btns">
		<div class="col m6 offset-m3">
			<div class="col m4">
				<a class="waves-effect waves-light btn-small" (click)="back()"><i class="material-icons left">chevron_left</i>Prev</a>
			</div>
			<div class="col m4">
			</div>
			<div class="col m4">
				<a class="waves-effect waves-light btn-small" (click)="next()"><i class="material-icons right">chevron_right</i>Next</a>
			</div>
		</div>
	</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>