<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Error 404 - Page not found</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
	@media only screen and (min-width:600px) {
		.row .col.error-msg-block {padding-top: 15%}
	}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<img src="https://res.cloudinary.com/easy-moolah/image/upload/c_scale,w_500/v1553982545/Website/404-Error-Concept.png" class="responsive-img" alt="Error 404: File not found" />
			</div>
			<div class="col s12 m6 error-msg-block">
				<h2>Sorry, page not found</h2>
				<p>The page you are looking for is not available. Please go back to the start page by <a href="https://application.easymoolah.co.za/">clicking here</a></p>
			</div>
		</div>
	</div>
</body>
</html>