<form [formGroup]="Q11" (ngSubmit)="Next()">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3">
        <div class="progress page-progress">
          <div class="determinate" style="width: 68.75%"></div>
        </div>
        <div class="input-field">
          <div class="image-radio-buttons bank-options">
            <p>With which bank do you have an account?</p>
            <div class="radio-group">
              <div class="row">
                <input type="radio" name="bank" id="absa-bank-option" formControlName="bank" value="absa-bank" />
                <label for="absa-bank-option" class="col s6 m4">
                  <span class="absa-logo"></span>
                </label>

                <input type="radio" name="bank" id="standardbank-bank-option" class="input-hidden" formControlName="bank"
                  value="standardbank-bank" />
                <label for="standardbank-bank-option" class="col s6 m4">
                  <span class="sb-logo"></span>
                </label>

                <input type="radio" name="bank" id="fnb-bank-option" class="input-hidden" formControlName="bank" value="fnb-bank" />
                <label for="fnb-bank-option" class="col s6 m4">
                  <span class="fnb-logo"></span>
                </label>

              </div>
              <div class="row">
                <input type="radio" name="bank" id="nedbank-bank-option" class="input-hidden" formControlName="bank"
                  value="nedbank-bank" />
                <label for="nedbank-bank-option" class="col s6 m4">
                  <span class="nedbank-logo"></span>
                </label>

                <input type="radio" name="bank" id="capitec-bank-option" class="input-hidden" formControlName="bank"
                  value="capitec-bank" />
                <label for="capitec-bank-option" class="col s6 m4">
                  <span class="capitec-logo"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row-->
  </div>
	<footer class="container">
      <div class="row pagination-btns">
        <div class="col m6 offset-m3">
          <div class="col m4">
            <button type="button" class="waves-effect waves-light btn-small" (click)="Back()"><i class="material-icons left">chevron_left</i>Prev</button>
          </div>
          <div class="col m4">
          </div>
          <div class="col m4">
            <button type="submit" class="waves-effect waves-light btn-small" [disabled]="!Q11.valid"><i class="material-icons right">chevron_right</i>Next</button>
          </div>
        </div>
      </div>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</form>