<div class="primary-footer brand-bg">
  <div class="container">
    <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light" data-section="#top">
      <i class="material-icons">&#xE316;</i>
    </a>

    <div class="row">
      <div class="col-md-3 widget clearfix">
        <h4 class="white-text">About EasyMoolah</h4>
        <p>EasyMoolah provides a platform that gives customers access to a wide variety of credit providers, allowing
          them to buy what they want immediately. Merchants are also able to be paid right away for their services.</p>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 widget">
        <h4 class="white-text">Imporant links</h4>

        <ul class="footer-list">
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms &amp; Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 widget">
        <h4 class="white-text">Social Media</h4>

        <ul class="social-link tt-animate ltr">
          <li><a href="#"><i class="fa fa-facebook"></i>Easy Moolah</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i>@EasyMoolah</a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i>Easy Moolah</a></li>
          <li><a href="#"><i class="fa fa-instagram"></i>@EasyMoolah</a></li>
        </ul>
      </div><!-- /.col-md-3 -->


      <div class="col-md-3 widget">
        <h4 class="white-text">Subscribe to our Newsletter</h4>
        <p>We will be sending out regular newsletters with advice about debt management; investing and tips on building
          up your portfolio.</p>
        <p>Fill in the form below to receive our newsletters.</p>
        <div>
          <div class="form-group clearfix">
            <label class="sr-only" for="subscribe">Email address</label>
            <input type="email" class="form-control" id="subscribe" placeholder="Email address">
            <button type="submit" class="tt-animate ltr"><i class="fa fa-long-arrow-right"></i></button>
          </div>
        </div>

      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.primary-footer -->

<div class="secondary-footer brand-bg darken-2">
  <div class="container">
    <span class="copy-text">Copyright &copy; 2018 <a href="#">EasyMoolah</a> &nbsp; | &nbsp; All Rights Reserved &nbsp;
      | &nbsp; Designed &amp; developed by <a href="https://kemoso.com">KEMOSO</a>.</span>
  </div><!-- /.container -->
</div><!-- /.secondary-footer -->