<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="../../assets/css/em_site_theme.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<header>
	<div class="container">
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<a href="index.html"><img class="responsive-img logo" src="https://res.cloudinary.com/kemoso/image/upload/v1541622491/EasyMoolah/em_logo_final.svg" alt="EasyMoolah" width="340" /></a>
			</div>
			<div class="col s12 m6 offset-m3">
				<h5 class="center-align">Borrower Application</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div  class="col s12 m6 offset-m3">
				<mat-progress-bar mode="{{mode}}" value="{{progress}}"></mat-progress-bar>
			</div>
		</div>
	</div>
</header>