<div class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <div class="introduction center-align">
        <h2>FSP Results</h2>
        <span>In collaboration with</span><br>
        <img src="https://res.cloudinary.com/easy-moolah/image/upload/v1548630698/Fincheck_LogoSmall.png" width="200"/>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-accordion *ngFor="let fsp of financeResults; let i = index">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'160px'" [expandedHeight]="'220px'">
          <mat-panel-title>
            <img src="{{fsp.ImagePath}}" width="160" height="160"/>
          </mat-panel-title>
          <mat-panel-description>
            <table class="fsp-result-table">
              <tbody>
                <tr>
                  <td><label>Loan approved for</label><h3>{{'R ' + fsp.ApprovedAmount}}</h3></td>
                  <td><label>Probability</label><h3>58%</h3></td>
                  <td><a class="waves-effect waves-light btn-large" style="margin:0 auto; line-height: 40px"><i class="material-icons" style="transform:translateY(5px)">call</i>Call Me</a></td>
                </tr>
              </tbody>
            </table>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This estimate was created for NAME SURNAME. Please request a callback to communicate with the Financial Services Provider directly</p>
        <p><strong>Probability</strong>: This is the percentage Probability of acceptance</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<footer class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <div class="col s12">
        <p class="center-align">Congratulations on getting approval for your loan amount. Please click on the 'call
          me'
          button next to any of the service providers so that a consultant can call you back today!</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>