<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="introduction center-align">
        <h2>FSP Results</h2>
        <span>In collaboration with</span><br>
        <img src="https://res.cloudinary.com/easy-moolah/image/upload/v1548630698/Fincheck_LogoSmall.png" width="200" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mat-list *ngFor="let fsp of matches; let i = index">
        <mat-list-item style="height: 160px;">
          <table class="fsp-result-table">
            <tbody>
              <tr>
                <td><img src="{{fsp.company_logo_url}}" class="fsp_logo" width="100px" height="100px" /></td>
                <td><label>Probability</label>
                  <h3>{{fsp.probability === undefined ? 'unknown': fsp.probability + '%'}}</h3>
                </td>
                <td><a class="waves-effect waves-light btn-large call-btn" style="margin:0 auto; line-height: 40px"
                    (click)="callme(fsp)"><i class="material-icons" style="transform:translateY(5px)">call</i>Call
                    Me</a></td>
              </tr>
            </tbody>
          </table>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
</div>
<!--container-->
<footer class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="col s12">
        <p class="center-align">Congratulations on getting approval for your loan amount. Please click on the 'call
          me'
          button next to any of the service providers so that a consultant can call you back today!</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>