<form [formGroup]="Q13" (ngSubmit)="Next()">
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3">
        <div class="progress page-progress">
          <div class="determinate" style="width: 81.25%"></div>
        </div>
        <div class="input-field">
          <p>Are you a homeowner?</p>
          <p>
            <label>
              <input name="homeowner" type="radio" class="with-gap" formControlName="homeowner" value="yes" />
              <span>Yes</span> </label>
          </p>
          <p>
            <label>
              <input name="homeowner" type="radio" class="with-gap" formControlName="homeowner" value="renting" />
              <span>Renting</span> </label>
          </p>
          <p>
            <label>
              <input name="homeowner" type="radio" class="with-gap" formControlName="homeowner" value="living-with-family" />
              <span>Living with family</span> </label>
          </p>
          <p>
            <label>
              <input name="homeowner" type="radio" class="with-gap" formControlName="homeowner" value="other" />
              <span>Other</span> </label>
          </p>
        </div>
      </div>
    </div>
    <!--row-->
  </div>
  <footer class="container">
    <div class="row pagination-btns">
      <div class="col m6 offset-m3">
        <div class="col m4">
          <button type="button" class="waves-effect waves-light btn-small" (click)="Back()"><i class="material-icons left">chevron_left</i>Prev</button>
        </div>
        <div class="col m4">
        </div>
        <div class="col m4">
          <button type="submit" class="waves-effect waves-light btn-small" [disabled]="!Q13.valid"><i class="material-icons right">chevron_right</i>Next</button>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</form>