<div class="container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="introduction center-align">
				<h2>How does EasyMoolah work?</h2>
				<p>You tell us your financial goals, we give you the resources to get where you want to be.</p><p>Compare rates, services, and features offered by different financial service providers.</p>
				<p>Fill out one simple form and get competing offers to find your best option.</p>
			</div>
		</div>
	</div><!--row-->
</div>
<footer class="container">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="col s12">
        <a class="waves-effect waves-light btn-large center-align-btn" [routerLink]="[ '/application']">Begin</a>        
			</div>
		</div>
	</div>
</footer>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
//   $(document).ready(function(){
//     $('select').formSelect();
// 	});
	
// 	// Enable navigation prompt
// window.onbeforeunload = function() {
// 	alert('sdsdsdsdd');
//     return true;
// };
// // Remove navigation prompt
// window.onbeforeunload = null;
</script>