<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EasyMoolahEntities" connectionString="metadata=res://*/EasyMoolahDB.csdl|res://*/EasyMoolahDB.ssdl|res://*/EasyMoolahDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6MIARM2\SQLEXPRESS;initial catalog=EasyMoolah;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="client_id" value="123349a9-fb0a-443d-8227-9f05b212e81d" />
    <add key="client_secret" value="L2yC1eV5xM0bE7yI7hD3hG8uE2bG6mN1jQ8cC0cJ0bT1eH8uC4" />
    <add key="redirect" value="http://uat.application.easymoolah.co.za/#/nedbank" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>